body, ul {
    margin: 0;
    padding: 0;
}

/* Stijl voor de navigatiebalk */
.navbar {
    background-color: #333; /* Achtergrondkleur van de navigatiebalk */
}

/* Stijl voor de lijst met navigatie-items */
.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Stijl voor elk navigatie-item */
.nav-item {
    display: inline; /* Plaats de items naast elkaar */
    margin-right: 20px; /* Ruimte tussen de items */
}

/* Stijl voor de koppelingen in de navigatie-items */
.nav-item a {
    text-decoration: none; /* Verwijder onderstreping
}
